<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title; %></title>
    <link rel="stylesheet" href="stylesheets/index.css"/>
</head>
<body>
<ul id="messages"></ul>
<form id="messages_input" action="">
    <input id="m" autocomplete="off"/>
    <button>Send</button>
</form>

<script src="javascripts/socket.io/socket.io.js"></script>
<script type="text/javascript" src="javascripts/index.js"></script>
</body>
</html>