<!DOCTYPE html>
<html lang="en">
<head>
    <% include template/header.ejs %>
    <link rel="stylesheet" href="stylesheets/index.css"/>
</head>
<body>
<div class="container-fluid">
    <ul id="messages"></ul>
</div>

<form id="messages_input_form" action="">
    <div class="row">
        <div class="col-md-2">
            <input id="nickname" autocomplete="off"/>
        </div>
        <div class="col-md-9">
            <input id="m" autocomplete="off"/>
        </div>
        <div class="col-md-1">
            <button>Send</button>
        </div>
    </div>
</form>

<% include template/scripts.ejs %>
<script src="javascripts/socket.io/socket.io.js"></script>
<script src="javascripts/socket.io/socket.io.js"></script>
<script type="text/javascript" src="javascripts/index.js"></script>
</body>
</html>