<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title; %></title>
    <link rel="stylesheet" href="stylesheets/error.css"/>
</head>
<body>
<!--doctype html
html
head
title= title
link(rel='stylesheet', href='/stylesheets/style.css')
body
block content-->
</body>
</html>