<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<% include template/header.ejs %>
<head>
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="/stylesheets/quotes.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="page-header">
        <h1>Quotes page
            <small>Get quotes for underlyings</small>
        </h1>
    </div>
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <form class="form-inline">
            <label for="underlyingId">Underlying ID</label>
            <input class="form-control" type="text" id="underlyingId"/>
            <input class="form-control" type="button" value="add" id="addUnderlying"/>
        </form>
        <div class="row with-top-buffer">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Currently monitoring:
                </div>
                <div class="panel-body">
                    <% if (typeof underlyings !== "undefined"){ %>
                    <ul class="list-group">
                        <% underlyings.getKeysAsArray().forEach(function(k){ %>
                        <li class="list-group-item"><%= k; %></li>
                        <% }); %>
                    </ul>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<% include template/scripts.ejs %>
<script data-main="/js/quotes.js" src="/js/lib/require.js"></script>
</body>
</html>