.App {
    text-align: center;
    display: flex;
    margin: 10px;

    /*Flex box*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.twitch-streamer-title {
    animation: App-title-blink infinite 4s linear;
    font-size: 3em;
}

@keyframes App-title-blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.App thead {
    background-color: #666;
    height: 150px;
    padding: 20px;
    color: white;
}

.App tbody {
    background-color: #4060a0;
    height: 150px;
    padding: 20px;
    color: white;
    font-family: "Comic Sans MS", Helvetica, "Courier New", sans-serif;
}

.App tbody .tr-online {
    background-color: #bbddbb;
    color: #551111;
}

.App tbody .tr-online a {
    background-color: #bbddbb;
    color: #4060a0;
}

.App tbody a {
    color: #bbddbb;
}

.App tbody img {
    min-width: 64px;
    min-height: 64px;
    max-width: 64px;
    max-height: 64px;
    border-radius: 50%;
    border: solid white;
}
